# Prosper Loan Data Anaylsis and Visualization

## By Stetson Done

This analysis will dive into a loan dataset from Prosper (a personal loan company). The raw dataset contains information about 113,937 loans with 81 variables about each loan. The dataset was acquired through Udacity, but can be found on kaggle.com at https://www.kaggle.com/yousuf28/prosper-loan.

## Prelude: Data Gathering and Cleaning

#### In this notebook, I will conduct initial gathering and cleaning of the data prior to exploratory visual analysis, which will be conducted in the Part 1: Exploration notebook.

In [230]:
# imports for data wrangling and cleaning
import pandas as pd

In [231]:
# loads csv file into dataframe

df_raw = pd.read_csv(r"C:\Users\14802\Desktop\DATA_PROJECTS\udacity_projects\Loan_Data_Visualization\datasets\prosperLoanData.csv", low_memory=False)

In [232]:
df_raw.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [233]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [234]:
# selecting only the rows which I might use in the exploratory analysis

df = df_raw[["MemberKey", "LoanKey", "Term", "LoanStatus", "ClosedDate", "BorrowerAPR", "BorrowerRate","LenderYield","EstimatedEffectiveYield","EstimatedLoss","EstimatedReturn","ProsperScore","ListingCategory (numeric)","BorrowerState","Occupation","EmploymentStatus","EmploymentStatusDuration","IsBorrowerHomeowner","CreditScoreRangeLower","CreditScoreRangeUpper","FirstRecordedCreditLine","CurrentCreditLines","OpenCreditLines","TotalCreditLinespast7years","OpenRevolvingAccounts","OpenRevolvingMonthlyPayment","InquiriesLast6Months","TotalInquiries","CurrentDelinquencies","AmountDelinquent","DelinquenciesLast7Years","RevolvingCreditBalance","BankcardUtilization","AvailableBankcardCredit","DebtToIncomeRatio","IncomeRange","IncomeVerifiable","LoanCurrentDaysDelinquent","LoanMonthsSinceOrigination","LoanOriginalAmount","LoanOriginationDate","MonthlyLoanPayment","LP_GrossPrincipalLoss","LP_NetPrincipalLoss"]].copy()

### Cleaning Assessment

In [235]:
# initial visual assessment
df.head()

,MemberKey,LoanKey,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,...,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanOriginalAmount,LoanOriginationDate,MonthlyLoanPayment,LP_GrossPrincipalLoss,LP_NetPrincipalLoss
0,1F3E3376408759268057EDA,E33A3400205839220442E84,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,...,0.17,"$25,000-49,999",True,0,78,9425,2007-09-12 00:00:00,330.43,0.0,0.0
1,1D13370546739025387B2F4,9E3B37071505919926B1D82,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,...,0.18,"$50,000-74,999",True,0,0,10000,2014-03-03 00:00:00,318.93,0.0,0.0
2,5F7033715035555618FA612,6954337960046817851BCB2,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,...,0.06,Not displayed,True,0,86,3001,2007-01-17 00:00:00,123.32,0.0,0.0
3,9ADE356069835475068C6D2,A0393664465886295619C51,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,...,0.15,"$25,000-49,999",True,0,16,10000,2012-11-01 00:00:00,321.45,0.0,0.0
4,36CE356043264555721F06C,A180369302188889200689E,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,...,0.26,"$100,000+",True,0,6,15000,2013-09-20 00:00:00,563.97,0.0,0.0

In [236]:
# initial programmatic assessment
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   MemberKey                    113937 non-null  object
 1   LoanKey                      113937 non-null  object
 2   Term                         113937 non-null  int64
 3   LoanStatus                   113937 non-null  object
 4   ClosedDate                   55089 non-null   object
 5   BorrowerAPR                  113912 non-null  float64
 6   BorrowerRate                 113937 non-null  float64
 7   LenderYield                  113937 non-null  float64
 8   EstimatedEffectiveYield      84853 non-null   float64
 9   EstimatedLoss                84853 non-null   float64
 10  EstimatedReturn              84853 non-null   float64
 11  ProsperScore                 84853 non-null   float64
 12  ListingCategory (numeric)    113937 non-null  int64
 13  BorrowerState                108422 non-null  object
 14  Occupation                   110349 non-null  object
 15  EmploymentStatus             111682 non-null  object
 16  EmploymentStatusDuration     106312 non-null  float64
 17  IsBorrowerHomeowner          113937 non-null  bool
 18  CreditScoreRangeLower        113346 non-null  float64
 19  CreditScoreRangeUpper        113346 non-null  float64
 20  FirstRecordedCreditLine      113240 non-null  object
 21  CurrentCreditLines           106333 non-null  float64
 22  OpenCreditLines              106333 non-null  float64
 23  TotalCreditLinespast7years   113240 non-null  float64
 24  OpenRevolvingAccounts        113937 non-null  int64
 25  OpenRevolvingMonthlyPayment  113937 non-null  float64
 26  InquiriesLast6Months         113240 non-null  float64
 27  TotalInquiries               112778 non-null  float64
 28  CurrentDelinquencies         113240 non-null  float64
 29  AmountDelinquent             106315 non-null  float64
 30  DelinquenciesLast7Years      112947 non-null  float64
 31  RevolvingCreditBalance       106333 non-null  float64
 32  BankcardUtilization          106333 non-null  float64
 33  AvailableBankcardCredit      106393 non-null  float64
 34  DebtToIncomeRatio            105383 non-null  float64
 35  IncomeRange                  113937 non-null  object
 36  IncomeVerifiable             113937 non-null  bool
 37  LoanCurrentDaysDelinquent    113937 non-null  int64
 38  LoanMonthsSinceOrigination   113937 non-null  int64
 39  LoanOriginalAmount           113937 non-null  int64
 40  LoanOriginationDate          113937 non-null  object
 41  MonthlyLoanPayment           113937 non-null  float64
 42  LP_GrossPrincipalLoss        113937 non-null  float64
 43  LP_NetPrincipalLoss          113937 non-null  float64
dtypes: bool(2), float64(26), int64(6), object(10)
memory usage: 36.7+ MB

>Based on my initial assessment, I plan to address the following issues in the dataset:

- casing is currently camelCase, I want to change it to snake_case
- closed date is not a datetime 
- columns could be reordered in more logical order/grouping
- LoanOriginationDate is not a datetime
- I want to change the incomeVerifiable to boolean to binomials for possible later analysis
- add account_closed boolean/binomial column instead of just having closed date and NaN in ClosedDate column
- add loan_delinquent boolean/binomial column instead of just having LoanCurrentDaysDelinquent (?) 
- change IsBorrowerHomeowner boolean to binomial
- separate into dmaller tables such as member info, loan info, lender yield/profit/loss info, etc. 
- make tidy master df
- save new dfs into new csv files

In [237]:
# creating new df copy to clean

clean_df = df.copy()

#### Define

- change column name casing to snake_case

#### Code

In [238]:
# makes list of current column names
column_list = clean_df.columns.tolist()

In [239]:
# code solution to change all to snake_case found here - https://stackoverflow.com/a/1176023

import re

snake_list = []

for column in column_list:
    column = re.sub(r'(?<!^)(?=[A-Z])', '_', column).lower()
        
    snake_list.append(column)

In [240]:
# assigns column names to new column names in snake_case
clean_df.columns = snake_list

#### Test

In [241]:
# checks columns names to see they were changed correctly
clean_df.head()

,member_key,loan_key,term,loan_status,closed_date,borrower_a_p_r,borrower_rate,lender_yield,estimated_effective_yield,estimated_loss,...,debt_to_income_ratio,income_range,income_verifiable,loan_current_days_delinquent,loan_months_since_origination,loan_original_amount,loan_origination_date,monthly_loan_payment,l_p__gross_principal_loss,l_p__net_principal_loss
0,1F3E3376408759268057EDA,E33A3400205839220442E84,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,...,0.17,"$25,000-49,999",True,0,78,9425,2007-09-12 00:00:00,330.43,0.0,0.0
1,1D13370546739025387B2F4,9E3B37071505919926B1D82,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,...,0.18,"$50,000-74,999",True,0,0,10000,2014-03-03 00:00:00,318.93,0.0,0.0
2,5F7033715035555618FA612,6954337960046817851BCB2,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,...,0.06,Not displayed,True,0,86,3001,2007-01-17 00:00:00,123.32,0.0,0.0
3,9ADE356069835475068C6D2,A0393664465886295619C51,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,...,0.15,"$25,000-49,999",True,0,16,10000,2012-11-01 00:00:00,321.45,0.0,0.0
4,36CE356043264555721F06C,A180369302188889200689E,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,...,0.26,"$100,000+",True,0,6,15000,2013-09-20 00:00:00,563.97,0.0,0.0

#### Define

- change closed_date to datetime
- change loan_origination_date to datetime

#### Code

In [242]:
# changes column data type to datetime
clean_df.closed_date = pd.to_datetime(clean_df.closed_date, yearfirst=True)

In [243]:
# changes column data type to datetime
clean_df.loan_origination_date = pd.to_datetime(clean_df.loan_origination_date, yearfirst=True)

#### Test

In [244]:
# checks to see datatype was changed to datetime
clean_df.closed_date

0        2009-08-14
1               NaT
2        2009-12-17
3               NaT
4               NaT
            ...
113932          NaT
113933          NaT
113934          NaT
113935   2013-08-13
113936          NaT
Name: closed_date, Length: 113937, dtype: datetime64[ns]

In [245]:
# checks to see datatype was changed to datetime
clean_df.loan_origination_date

0        2007-09-12
1        2014-03-03
2        2007-01-17
3        2012-11-01
4        2013-09-20
            ...
113932   2013-04-22
113933   2011-11-07
113934   2013-12-23
113935   2011-11-21
113936   2014-01-21
Name: loan_origination_date, Length: 113937, dtype: datetime64[ns]

#### Define

- change income_verifiable to binomials
- change is_borrower_homeowner to binomials

#### Code

In [246]:
# converts boolean values to binomials
clean_df.income_verifiable = clean_df.income_verifiable.astype(int)

In [247]:
# converts boolean values to binomials
clean_df.is_borrower_homeowner = clean_df.income_verifiable.astype(int)

#### Test

In [248]:
# checks datatypes of columns to see if they were successfully changed to ints (which in the case of booleans are binomials)\
clean_df.income_verifiable

0         1
1         1
2         1
3         1
4         1
         ..
113932    1
113933    1
113934    1
113935    1
113936    1
Name: income_verifiable, Length: 113937, dtype: int32

In [249]:
clean_df.is_borrower_homeowner

0         1
1         1
2         1
3         1
4         1
         ..
113932    1
113933    1
113934    1
113935    1
113936    1
Name: is_borrower_homeowner, Length: 113937, dtype: int32

#### Define

- add boolean/binomial column for is_loan_closed based on closed_date
- add boolean/binomial column for is_loan_delinquent based on loan_current_days_delinquent column

#### Code

In [250]:
import numpy as np

In [251]:
# creates new column of true/false binomials based on closed_date for is_loan_closed

conditions = [
    (clean_df['closed_date'].isnull()),
    (clean_df['closed_date'].notnull())
]

values = [False, True]

clean_df['is_loan_closed'] = np.select(conditions,values)

In [252]:
# creates new column of true/false binomials based on loan_current_days_delinquent for is_loan_delinquent

conditions = [
    (clean_df['loan_current_days_delinquent'] == 0),
    (clean_df['loan_current_days_delinquent'] != 0)
]

values = [False, True]

clean_df['is_loan_delinquent'] = np.select(conditions,values)

#### Test

In [253]:
# verifies new column was created successfully
clean_df.is_loan_closed

0         1
1         0
2         1
3         0
4         0
         ..
113932    0
113933    0
113934    0
113935    1
113936    0
Name: is_loan_closed, Length: 113937, dtype: int32

In [254]:
# verifies new column was created successfully
clean_df.is_loan_delinquent

0         0
1         0
2         0
3         0
4         0
         ..
113932    0
113933    0
113934    0
113935    0
113936    0
Name: is_loan_delinquent, Length: 113937, dtype: int32

#### Define

- reorder columns in more logical order / grouping

#### Code

In [255]:
# looks at current list of column names
clean_df.columns.tolist()

['member_key',
 'loan_key',
 'term',
 'loan_status',
 'closed_date',
 'borrower_a_p_r',
 'borrower_rate',
 'lender_yield',
 'estimated_effective_yield',
 'estimated_loss',
 'estimated_return',
 'prosper_score',
 'listing_category (numeric)',
 'borrower_state',
 'occupation',
 'employment_status',
 'employment_status_duration',
 'is_borrower_homeowner',
 'credit_score_range_lower',
 'credit_score_range_upper',
 'first_recorded_credit_line',
 'current_credit_lines',
 'open_credit_lines',
 'total_credit_linespast7years',
 'open_revolving_accounts',
 'open_revolving_monthly_payment',
 'inquiries_last6_months',
 'total_inquiries',
 'current_delinquencies',
 'amount_delinquent',
 'delinquencies_last7_years',
 'revolving_credit_balance',
 'bankcard_utilization',
 'available_bankcard_credit',
 'debt_to_income_ratio',
 'income_range',
 'income_verifiable',
 'loan_current_days_delinquent',
 'loan_months_since_origination',
 'loan_original_amount',
 'loan_origination_date',
 'monthly_loan_payment',
 'l_p__gross_principal_loss',
 'l_p__net_principal_loss',
 'is_loan_closed',
 'is_loan_delinquent']

In [256]:
# sets dataframe to new column order
clean_df = clean_df[[
 'member_key',
 'borrower_state',
 'income_range',
 'income_verifiable',
 'debt_to_income_ratio',
 'occupation',
 'employment_status',
 'employment_status_duration',
 'is_borrower_homeowner',
 'credit_score_range_lower',
 'credit_score_range_upper',
 'prosper_score',
 'first_recorded_credit_line',
 'current_credit_lines',
 'open_credit_lines',
 'total_credit_linespast7years',
 'open_revolving_accounts',
 'open_revolving_monthly_payment',
 'inquiries_last6_months',
 'total_inquiries',
 'current_delinquencies',
 'amount_delinquent',
 'delinquencies_last7_years',
 'revolving_credit_balance',
 'bankcard_utilization',
 'available_bankcard_credit',
 'loan_key',
 'listing_category (numeric)',
 'loan_original_amount',
 'loan_origination_date',
 'monthly_loan_payment',
 'term',
 'borrower_a_p_r',
 'borrower_rate',
 'loan_status',
 'is_loan_closed',
 'closed_date',
 'is_loan_delinquent',
 'loan_current_days_delinquent',
 'loan_months_since_origination',
 'lender_yield',
 'estimated_effective_yield',
 'estimated_loss',
 'estimated_return',
 'l_p__gross_principal_loss',
 'l_p__net_principal_loss'
]]

#### Test

In [257]:
# checks to see columns were reordered successfully
clean_df

,member_key,borrower_state,income_range,income_verifiable,debt_to_income_ratio,occupation,employment_status,employment_status_duration,is_borrower_homeowner,credit_score_range_lower,...,closed_date,is_loan_delinquent,loan_current_days_delinquent,loan_months_since_origination,lender_yield,estimated_effective_yield,estimated_loss,estimated_return,l_p__gross_principal_loss,l_p__net_principal_loss
0,1F3E3376408759268057EDA,CO,"$25,000-49,999",1,0.17,Other,Self-employed,2.0,1,640.0,...,2009-08-14,0,0,78,0.1380,NaN,NaN,NaN,0.0,0.0
1,1D13370546739025387B2F4,CO,"$50,000-74,999",1,0.18,Professional,Employed,44.0,1,680.0,...,NaT,0,0,0,0.0820,0.07960,0.0249,0.05470,0.0,0.0
2,5F7033715035555618FA612,GA,Not displayed,1,0.06,Other,Not available,NaN,1,480.0,...,2009-12-17,0,0,86,0.2400,NaN,NaN,NaN,0.0,0.0
3,9ADE356069835475068C6D2,GA,"$25,000-49,999",1,0.15,Skilled Labor,Employed,113.0,1,800.0,...,NaT,0,0,16,0.0874,0.08490,0.0249,0.06000,0.0,0.0
4,36CE356043264555721F06C,MN,"$100,000+",1,0.26,Executive,Employed,44.0,1,680.0,...,NaT,0,0,6,0.1985,0.18316,0.0925,0.09066,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,2EC435768441332602FDC15,IL,"$50,000-74,999",1,0.13,Food Service Management,Employed,246.0,1,700.0,...,NaT,0,0,11,0.1764,0.16490,0.0699,0.09500,0.0,0.0
113933,55C4336679182766893E4FC,PA,"$75,000-99,999",1,0.11,Professional,Employed,21.0,1,700.0,...,NaT,0,0,28,0.1010,0.10070,0.0200,0.08070,0.0,0.0
113934,0FE0370029359765342FDB5,TX,"$25,000-49,999",1,0.51,Other,Employed,84.0,1,700.0,...,NaT,0,0,3,0.2050,0.18828,0.1025,0.08578,0.0,0.0
113935,A33834861822272782621C8,GA,"$25,000-49,999",1,0.48,Food Service,Full-time,94.0,1,680.0,...,2013-08-13,0,0,28,0.2505,0.24450,0.0850,0.15950,0.0,0.0
113936,CE1E3704648000761C9F724,NY,"$50,000-74,999",1,0.23,Professor,Employed,244.0,1,680.0,...,NaT,0,0,2,0.0939,0.09071,0.0299,0.06081,0.0,0.0

#### Define

- split up columns into smaller tables of borrower info and loan info

#### Code

In [258]:
# makes new loan_info dataframe of select columns

loan_info = clean_df[[
 'member_key',
 'loan_key',
 'listing_category (numeric)',
 'loan_original_amount',
 'loan_origination_date',
 'monthly_loan_payment',
 'term',
 'borrower_a_p_r',
 'borrower_rate',
 'loan_status',
 'is_loan_closed',
 'closed_date',
 'is_loan_delinquent',
 'loan_current_days_delinquent',
 'loan_months_since_origination',
 'lender_yield',
 'estimated_effective_yield',
 'estimated_loss',
 'estimated_return',
 'l_p__gross_principal_loss',
 'l_p__net_principal_loss'
]].copy()

In [259]:
# makes new borrower_info dataframe of select columns
borrower_info = clean_df[
    [
 'member_key',
 'borrower_state',
 'income_range',
 'income_verifiable',
 'debt_to_income_ratio',
 'occupation',
 'employment_status',
 'employment_status_duration',
 'is_borrower_homeowner',
 'credit_score_range_lower',
 'credit_score_range_upper',
 'prosper_score',
 'first_recorded_credit_line',
 'current_credit_lines',
 'open_credit_lines',
 'total_credit_linespast7years',
 'open_revolving_accounts',
 'open_revolving_monthly_payment',
 'inquiries_last6_months',
 'total_inquiries',
 'current_delinquencies',
 'amount_delinquent',
 'delinquencies_last7_years',
 'revolving_credit_balance',
 'bankcard_utilization',
 'available_bankcard_credit',
]
].copy()

#### Test

In [260]:
# checks to see if dataframe was created successfully
loan_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   member_key                     113937 non-null  object
 1   loan_key                       113937 non-null  object
 2   listing_category (numeric)     113937 non-null  int64
 3   loan_original_amount           113937 non-null  int64
 4   loan_origination_date          113937 non-null  datetime64[ns]
 5   monthly_loan_payment           113937 non-null  float64
 6   term                           113937 non-null  int64
 7   borrower_a_p_r                 113912 non-null  float64
 8   borrower_rate                  113937 non-null  float64
 9   loan_status                    113937 non-null  object
 10  is_loan_closed                 113937 non-null  int32
 11  closed_date                    55089 non-null   datetime64[ns]
 12  is_loan_delinquent             113937 non-null  int32
 13  loan_current_days_delinquent   113937 non-null  int64
 14  loan_months_since_origination  113937 non-null  int64
 15  lender_yield                   113937 non-null  float64
 16  estimated_effective_yield      84853 non-null   float64
 17  estimated_loss                 84853 non-null   float64
 18  estimated_return               84853 non-null   float64
 19  l_p__gross_principal_loss      113937 non-null  float64
 20  l_p__net_principal_loss        113937 non-null  float64
dtypes: datetime64[ns](2), float64(9), int32(2), int64(5), object(3)
memory usage: 17.4+ MB

In [261]:
# checks to see if dataframe was created successfully
borrower_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   member_key                      113937 non-null  object
 1   borrower_state                  108422 non-null  object
 2   income_range                    113937 non-null  object
 3   income_verifiable               113937 non-null  int32
 4   debt_to_income_ratio            105383 non-null  float64
 5   occupation                      110349 non-null  object
 6   employment_status               111682 non-null  object
 7   employment_status_duration      106312 non-null  float64
 8   is_borrower_homeowner           113937 non-null  int32
 9   credit_score_range_lower        113346 non-null  float64
 10  credit_score_range_upper        113346 non-null  float64
 11  prosper_score                   84853 non-null   float64
 12  first_recorded_credit_line      113240 non-null  object
 13  current_credit_lines            106333 non-null  float64
 14  open_credit_lines               106333 non-null  float64
 15  total_credit_linespast7years    113240 non-null  float64
 16  open_revolving_accounts         113937 non-null  int64
 17  open_revolving_monthly_payment  113937 non-null  float64
 18  inquiries_last6_months          113240 non-null  float64
 19  total_inquiries                 112778 non-null  float64
 20  current_delinquencies           113240 non-null  float64
 21  amount_delinquent               106315 non-null  float64
 22  delinquencies_last7_years       112947 non-null  float64
 23  revolving_credit_balance        106333 non-null  float64
 24  bankcard_utilization            106333 non-null  float64
 25  available_bankcard_credit       106393 non-null  float64
dtypes: float64(17), int32(2), int64(1), object(6)
memory usage: 21.7+ MB

#### Define

- Create master dafaframe

#### Code

In [262]:
master_loan_df = clean_df.copy()

#### Test

In [263]:
# checks to see dataframe was created successfully
master_loan_df.head()

,member_key,borrower_state,income_range,income_verifiable,debt_to_income_ratio,occupation,employment_status,employment_status_duration,is_borrower_homeowner,credit_score_range_lower,...,closed_date,is_loan_delinquent,loan_current_days_delinquent,loan_months_since_origination,lender_yield,estimated_effective_yield,estimated_loss,estimated_return,l_p__gross_principal_loss,l_p__net_principal_loss
0,1F3E3376408759268057EDA,CO,"$25,000-49,999",1,0.17,Other,Self-employed,2.0,1,640.0,...,2009-08-14,0,0,78,0.1380,NaN,NaN,NaN,0.0,0.0
1,1D13370546739025387B2F4,CO,"$50,000-74,999",1,0.18,Professional,Employed,44.0,1,680.0,...,NaT,0,0,0,0.0820,0.07960,0.0249,0.05470,0.0,0.0
2,5F7033715035555618FA612,GA,Not displayed,1,0.06,Other,Not available,NaN,1,480.0,...,2009-12-17,0,0,86,0.2400,NaN,NaN,NaN,0.0,0.0
3,9ADE356069835475068C6D2,GA,"$25,000-49,999",1,0.15,Skilled Labor,Employed,113.0,1,800.0,...,NaT,0,0,16,0.0874,0.08490,0.0249,0.06000,0.0,0.0
4,36CE356043264555721F06C,MN,"$100,000+",1,0.26,Executive,Employed,44.0,1,680.0,...,NaT,0,0,6,0.1985,0.18316,0.0925,0.09066,0.0,0.0

### Store Clean Data for Analysis

In [264]:
# saves master df to csv

master_loan_df.to_csv('master_loan_data.csv')

In [265]:
# saves borrower info to csv

borrower_info.to_csv('borrower_loan_data.csv')

In [266]:
# saves loan info to csv

loan_info.to_csv('loan_data.csv')

## Conclusion

This concludes the wrangling and cleaning process of this project. See Part 1: Exploratory Analysis notebook for next steps.