# Prosper Loan Data Anaylsis and Visualization

## By Stetson Done

This analysis will dive into a loan dataset from Prosper (a personal loan company). The raw dataset contains information about 113,937 loans with 81 variables about each loan. The dataset was acquired through Udacity, but can be found on kaggle.com at https://www.kaggle.com/yousuf28/prosper-loan.

### In this notebook, I will conduct initial gathering and cleaning of the data prior to exploratory visual analysis.

In [1]:
# imports for data wrangling and cleaning
import pandas as pd

In [3]:
# loads csv file into dataframe

df_raw = pd.read_csv(r"C:\Users\14802\Desktop\DATA_PROJECTS\udacity_projects\Loan_Data_Visualization\datasets\prosperLoanData.csv", low_memory=False)

In [4]:
df_raw.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [17]:
df = df_raw[["MemberKey", "LoanKey", "Term", "LoanStatus", "ClosedDate", "BorrowerAPR", "BorrowerRate","LenderYield","EstimatedEffectiveYield","EstimatedLoss","EstimatedReturn","ProsperScore","ListingCategory (numeric)","BorrowerState","Occupation","EmploymentStatus","EmploymentStatusDuration","IsBorrowerHomeowner","CreditScoreRangeLower","CreditScoreRangeUpper","FirstRecordedCreditLine","CurrentCreditLines","OpenCreditLines","TotalCreditLinespast7years","OpenRevolvingAccounts","OpenRevolvingMonthlyPayment","InquiriesLast6Months","TotalInquiries","CurrentDelinquencies","AmountDelinquent","DelinquenciesLast7Years","RevolvingCreditBalance","BankcardUtilization","AvailableBankcardCredit","DebtToIncomeRatio","IncomeRange","IncomeVerifiable","LoanCurrentDaysDelinquent","LoanMonthsSinceOrigination","LoanOriginalAmount","LoanOriginationDate","MonthlyLoanPayment","LP_GrossPrincipalLoss","LP_NetPrincipalLoss"]].copy()

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   MemberKey                    113937 non-null  object
 1   LoanKey                      113937 non-null  object
 2   Term                         113937 non-null  int64
 3   LoanStatus                   113937 non-null  object
 4   ClosedDate                   55089 non-null   object
 5   BorrowerAPR                  113912 non-null  float64
 6   BorrowerRate                 113937 non-null  float64
 7   LenderYield                  113937 non-null  float64
 8   EstimatedEffectiveYield      84853 non-null   float64
 9   EstimatedLoss                84853 non-null   float64
 10  EstimatedReturn              84853 non-null   float64
 11  ProsperScore                 84853 non-null   float64
 12  ListingCategory (numeric)    113937 non-null  int64
 13  BorrowerState                108422 non-null  object
 14  Occupation                   110349 non-null  object
 15  EmploymentStatus             111682 non-null  object
 16  EmploymentStatusDuration     106312 non-null  float64
 17  IsBorrowerHomeowner          113937 non-null  bool
 18  CreditScoreRangeLower        113346 non-null  float64
 19  CreditScoreRangeUpper        113346 non-null  float64
 20  FirstRecordedCreditLine      113240 non-null  object
 21  CurrentCreditLines           106333 non-null  float64
 22  OpenCreditLines              106333 non-null  float64
 23  TotalCreditLinespast7years   113240 non-null  float64
 24  OpenRevolvingAccounts        113937 non-null  int64
 25  OpenRevolvingMonthlyPayment  113937 non-null  float64
 26  InquiriesLast6Months         113240 non-null  float64
 27  TotalInquiries               112778 non-null  float64
 28  CurrentDelinquencies         113240 non-null  float64
 29  AmountDelinquent             106315 non-null  float64
 30  DelinquenciesLast7Years      112947 non-null  float64
 31  RevolvingCreditBalance       106333 non-null  float64
 32  BankcardUtilization          106333 non-null  float64
 33  AvailableBankcardCredit      106393 non-null  float64
 34  DebtToIncomeRatio            105383 non-null  float64
 35  IncomeRange                  113937 non-null  object
 36  IncomeVerifiable             113937 non-null  bool
 37  LoanCurrentDaysDelinquent    113937 non-null  int64
 38  LoanMonthsSinceOrigination   113937 non-null  int64
 39  LoanOriginalAmount           113937 non-null  int64
 40  LoanOriginationDate          113937 non-null  object
 41  MonthlyLoanPayment           113937 non-null  float64
 42  LP_GrossPrincipalLoss        113937 non-null  float64
 43  LP_NetPrincipalLoss          113937 non-null  float64
dtypes: bool(2), float64(26), int64(6), object(10)
memory usage: 36.7+ MB

In [19]:
df

,MemberKey,LoanKey,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,...,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanOriginalAmount,LoanOriginationDate,MonthlyLoanPayment,LP_GrossPrincipalLoss,LP_NetPrincipalLoss
0,1F3E3376408759268057EDA,E33A3400205839220442E84,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,NaN,NaN,...,0.17,"$25,000-49,999",True,0,78,9425,2007-09-12 00:00:00,330.43,0.0,0.0
1,1D13370546739025387B2F4,9E3B37071505919926B1D82,36,Current,NaN,0.12016,0.0920,0.0820,0.07960,0.0249,...,0.18,"$50,000-74,999",True,0,0,10000,2014-03-03 00:00:00,318.93,0.0,0.0
2,5F7033715035555618FA612,6954337960046817851BCB2,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,NaN,NaN,...,0.06,Not displayed,True,0,86,3001,2007-01-17 00:00:00,123.32,0.0,0.0
3,9ADE356069835475068C6D2,A0393664465886295619C51,36,Current,NaN,0.12528,0.0974,0.0874,0.08490,0.0249,...,0.15,"$25,000-49,999",True,0,16,10000,2012-11-01 00:00:00,321.45,0.0,0.0
4,36CE356043264555721F06C,A180369302188889200689E,36,Current,NaN,0.24614,0.2085,0.1985,0.18316,0.0925,...,0.26,"$100,000+",True,0,6,15000,2013-09-20 00:00:00,563.97,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,2EC435768441332602FDC15,9BD7367919051593140DB62,36,Current,NaN,0.22354,0.1864,0.1764,0.16490,0.0699,...,0.13,"$50,000-74,999",True,0,11,10000,2013-04-22 00:00:00,364.74,0.0,0.0
113933,55C4336679182766893E4FC,62D93634569816897D5A276,36,FinalPaymentInProgress,NaN,0.13220,0.1110,0.1010,0.10070,0.0200,...,0.11,"$75,000-99,999",True,0,28,2000,2011-11-07 00:00:00,65.57,0.0,0.0
113934,0FE0370029359765342FDB5,DD1A370200396006300ACA0,60,Current,NaN,0.23984,0.2150,0.2050,0.18828,0.1025,...,0.51,"$25,000-49,999",True,0,3,10000,2013-12-23 00:00:00,273.35,0.0,0.0
113935,A33834861822272782621C8,589536350469116027ED11B,60,Completed,2013-08-13 00:00:00,0.28408,0.2605,0.2505,0.24450,0.0850,...,0.48,"$25,000-49,999",True,0,28,15000,2011-11-21 00:00:00,449.55,0.0,0.0
113936,CE1E3704648000761C9F724,00AF3704550953269A64E40,36,Current,NaN,0.13189,0.1039,0.0939,0.09071,0.0299,...,0.23,"$50,000-74,999",True,0,2,2000,2014-01-21 00:00:00,64.90,0.0,0.0

In [16]:
df.isna()

,MemberKey,LoanKey,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,...,DebtToIncomeRatio,IncomeRange,IncomeVerifiable,LoanCurrentDaysDelinquent,LoanMonthsSinceOrigination,LoanOriginalAmount,LoanOriginationDate,MonthlyLoanPayment,LP_GrossPrincipalLoss,LP_NetPrincipalLoss
0,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113933,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113934,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113936,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False